# Pac-Man Settings

marquee /usr/local/share/advance/artwork
advmamerc /home/pi/.advance/advmame.rc
sounds /usr/local/share/advance/pacman_dir/sounds


[sdl]

[dvg]
dvg_refresh_rate 40
sort_vectors false
